{{- $ctx := .ctx -}}
{{- $topics := .order | default slice -}}
{{- $section := .section | default $ctx.Section -}}
{{- $slug := $ctx.File.BaseFileName -}}
{{- $idx := -1 -}}
{{- range $i, $s := $topics -}}
  {{- if eq $s $slug -}}
    {{- $idx = $i -}}
  {{- end -}}
{{- end -}}
{{- if ge $idx 0 -}}
<nav class="paginav curriculum-paginav" aria-label="Curriculum navigation">
  {{- if gt $idx 0 -}}
    {{- $prevSlug := index $topics (sub $idx 1) -}}
    {{- with site.GetPage (printf "%s/%s" $section $prevSlug) -}}
  <a class="prev" href="{{ .RelPermalink }}">
    <span class="title">« Previous</span>
    <br>
    <span>{{ .Params.sectionRef | default "" }} {{ .Params.shortTitle | default .Title }}</span>
  </a>
    {{- end -}}
  {{- end -}}
  {{- if lt $idx (sub (len $topics) 1) -}}
    {{- $nextSlug := index $topics (add $idx 1) -}}
    {{- with site.GetPage (printf "%s/%s" $section $nextSlug) -}}
  <a class="next" href="{{ .RelPermalink }}">
    <span class="title">Next »</span>
    <br>
    <span>{{ .Params.sectionRef | default "" }} {{ .Params.shortTitle | default .Title }}</span>
  </a>
    {{- end -}}
  {{- end -}}
</nav>
{{- end -}}
