{{- $default := .Get "default" | default "java" -}}
{{- $langs := slice "java" "golang" "python" -}}
{{- $panels := .Inner | .Page.RenderString -}}
<div class="impl-tabs" data-impl-tabs data-impl-default="{{ $default }}">
  <div class="impl-tabs-bar" role="tablist" aria-label="Implementation language">
    {{- range $langs -}}
      {{- $label := $.Get . -}}
      {{- if $label -}}
    <button
      type="button"
      class="impl-tab-btn"
      role="tab"
      data-tab="{{ . }}"
      aria-selected="{{ if eq . $default }}true{{ else }}false{{ end }}"
      tabindex="{{ if eq . $default }}0{{ else }}-1{{ end }}"
    >{{ $label }}</button>
      {{- end -}}
    {{- end -}}
  </div>
  <div class="impl-tabs-panels">
    {{ $panels }}
  </div>
</div>
